body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.main-btn{
    padding: 15px 30px;
    color: white;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
/* banner section start  */

.banner-section{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}
.banner-section-column{
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}
.banner-sction-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-sction-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner-section-image{
    width: 500px;
}
/* banner section end  */