/* common style start  */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.main-btn{
    padding: 15px 30px;
    color: white;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    border: 1px solid #E55473;
}
.main-btn:hover{
    background-color: white;
    color: #E55473;
    border: 1px solid #E55473;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-container{
    max-width: 1140px;
    margin: auto;
}

/* common style end  */

/* navbar start  */

nav{
    display: flex;
    justify-content:space-between;
    padding: 0px 50px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.a{ 
    text-decoration: none;
    margin-right: 15px;
    color: #111010;
    padding: 15px 20px;
}
.a:hover{
    background: #E55473;
    color: white;
    border-radius: 5px;
}

/* navbar end */

/* banner section start  */

.banner-section{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}
.banner-section-column{
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}
.banner-sction-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-sction-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner-section-image{
    width: 500px;
}
/* banner section end  */

/* Our Featured Flowers section start  */

.featured-section{
    margin-top: 120px;
}
.featured-section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: auto;
    margin-top: 25px;
}
.featured-section-img{
    width: 200px;
}
.featured-section-img-area{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.frist-image{
    padding: 60px 60px 0px 60px;
    background-color: rgba(167, 33, 98, 0.15);
    margin: 30px;
    border-radius: 300px 300px 0px 0px;
}
.secend-image{
    padding: 60px 60px 0px 60px;
    background-color: rgba(5, 151, 160, 0.15);
    margin: 30px;
    border-radius: 300px 300px 0px 0px;
}
.thrid-image{
    padding: 60px 60px 0px 60px;
    background-color: rgba(71, 125, 17, 0.15);
    margin: 30px;
    border-radius: 300px 300px 0px 0px;
}

/* Our Featured Flowers section end  */

/* hot deal section start  */

.hot-deal-section{
    margin-top: 120px;
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-container{
    display: flex;
    max-width: 1140px;
    margin: auto;
    padding: 50px;
}
.hot-deal-section-column{
    padding: 30px;
}
.hot-deal-section-img{
    width: 250px;
}
.hot-deal-sction-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.hot-deal-section-column{
    text-align: center;
}

/* hot deal section start  */

/* instagram section start  */

.instagram-section{
    margin-top: 120px;
}
.instagram-section-container{
    max-width: 1140px;
    margin: auto;
}
.instagram-section-img{
    width: 250px;
    padding: 10px;
}
.instagram-img-area{
    margin-top: 30px;
}

/* instagram section end  */

/* get deal section start  */

.get-deal-section{
    margin-top: 120px;
    text-align: center;
}
.get-deal-section-container{
    max-width: 1140px;
    margin: auto;
    background: url(../image/Rectangle\ 9.png);
    background-position: center;
    border-radius: 5px;
    padding: 50px;
}
.inpute-email{
    padding: 15px 400px 15px 10px ;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

/* get deal section end */

/* footer section start  */

.footer-container{
    padding: 80px;
    text-align: center;
    background: #111010;
    margin-top: 120px;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}
.copy-write{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

/* footer section end */